= content_tag :article, id: zone.id, class: "zone %s" % zone.classification, data: zone.metadata do
  = link_to [zone], class: 'remote' do
    %h3= zone
    .status
      ท่วม
      = "%.0f%%" % zone.positive_percent
    .count ข้อมูลใหม่ #{zone.reports_count} จุด
