%div#main

  %header
    %h1= link_to image_tag('logo.png', alt: "บ้านฉันท่วมหรือยัง"), root_path

  %section#landing
    = form_tag new_report_path, method: :post, id: 'initiate_report', style: ('display:none' if @report.zone_id.present?) do
      %h2.description
        :markdown
          กรอก**รหัสไปรษณีย์**ของพื้นที่ที่ท่านพักอาศัยอยู่
      %div.form
        %p.field<
          = text_field_tag :zone_id, "", size: 20, class: 'postcode', maxlength: 5, autofocus: true, pattern: '[0-9]*'
          = submit_tag "แจ้งสถานการณ์"

      %p#links
        = link_to "คำถามที่พบบ่อย", page_path('faqs'), class: 'remote'
        |
        = link_to "API", page_path('api'), class: 'remote'
        |
        = link_to "Fork", "http://github.com/scomma/IsMyHouseFlooded"
        |
        = link_to image_tag('cc-by-sa.png'), "http://creativecommons.org/licenses/by-sa/3.0/"

    = form_for @report, method: :post, html:{ style: ('display:none' unless @report.zone_id.present?) } do |f|
      = f.hidden_field :zone_id
      %h2.main
        แจ้งสถานการณ์ในพื้นที่
        %strong.zone_id_label
      %h2.hint
        เมื่อวานนี้ท่านได้รายงานสถานการณ์จากพื้นที่
        %strong.zone_id_label
        %small
          เราอยากทราบว่าวันนี้ สถานการณ์ในพื้นที่
          %strong.zone_id_label
          เป็นอย่างไรบ้างครับ

      %div.form
        %dl
          %dt.for_buttonset ขณะนี้
          %dd.buttonset
            = f.radio_button :flooded, true
            = f.label :flooded_true, "ท่วมขังแล้ว"
            = f.radio_button :flooded, false
            = f.label :flooded_false, "ยังไม่ท่วม"

          %dt.for_text  รายละเอียด
          %dd= f.text_area :comment, placeholder: "(ถ้ามี)", rows: 2

          %dt
          %dd
            = f.submit "บันทึก"
            = button_tag "ยกเลิก", id: 'cancel_report', type: 'button'

- if @zones
  %div#sub

    %header
      /
        %p.right คำนวณจากข้อมูลในรอบ 24 ชม. ล่าสุด
      %h2
        ติดตามสถานการณ์จากพื้นที่ต่าง ๆ
        %small#sorter(style="display:none")
          เรียงตาม
          = link_to "เวลา", '#time'
          = link_to "จำนวน", '#count'
          = link_to "สถานการณ์", '#flood'

    %section#zones
      = render @zones
